---
import "./Style/general.css";
import MainLayout from "../Layout/MainLayout.astro";
import ArtistCard from "../Components/ArtistCard.astro";

import Sections from "../Components/Sections.astro";
---

<MainLayout title="podcast">
  <main>
    <h1>det virker</h1>
  </main>
</MainLayout>
