 <section class="FooterSection">


<div class="Footer_indhold">
<p>Kontakt</p>
<p>FAQ</p>
<p>Abbonoment</p>
 </div>
 </section>
 

  <style>
.FooterSection {
    background-color: #212121;
}
.Footer_indhold {
    display: flex;
   gap: 50px;
   margin-top: 1rem;

}
    
  </style>